@font-face {
    font-family: 'artico-black';
    src: url('../Fonts/artico-black.otf') format('truetype');
}

@font-face {
    font-family: 'articocond';
    src: url('../Fonts/articocond.otf') format('truetype');
}

@font-face {
    font-family: 'engula-medium';
    src: url('../Fonts/engula-medium.otf') format('truetype');
}
